<a href="https://colab.research.google.com/github/emmaotero/TPI_emmanuel_otero/blob/main/Emmanuel_Otero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pre-entrega TPI Data Analytics : Emmanuel Otero

## Etapa 1: Recopilación y Preparación de Datos (Clases 1 a 4)
Objetivo: Demostrar habilidades en Python, familiaridad con el entorno de trabajo y
conocimientos básicos sobre manipulación de datos.
Actividades:
1. Crear un documento en Google Colaboratory y cargar los sets de datos
como DataFrames.
2. Realizar un script básico que calcule las ventas mensuales utilizando
variables y operadores.
3. Estructuras de Datos: Desarrollar un programa que almacene los datos de
ventas (producto, precio, cantidad). Decidir si conviene utilizar diccionarios o
listas.
4. Introducción a Pandas: realizar un análisis exploratorio inicial de los
DataFrames.
5. Calidad de Datos: Identificar valores nulos y duplicados en los conjuntos de
datos. Documentar el estado inicial de los datos.

### 1️) Crear un documento en Google Colaboratory y cargar los sets de datos como DataFrames.

In [1]:
# Montar la unidad
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Para liberar la unidad (solo en caso de ser necesario)
#drive.flush_and_unmount()

In [3]:
# Verificamos los archivos de la carpeta datasets y chequeamos que estén los archivos necesarios
import os
os.listdir("/content/drive/MyDrive/datasets")

['ventas.csv',
 'clientes.csv',
 'marketing.csv',
 'ventas.gsheet',
 'ventas_limpio.csv',
 'clientes_limpio.csv',
 'marketing_limpio.csv',
 'Emmanuel_Otero.ipynb']

In [4]:
#Seteamos la ruta a nuestros datasets
path_marketing = "/content/drive/MyDrive/datasets/marketing.csv"
path_clientes = "/content/drive/MyDrive/datasets/clientes.csv"
path_ventas = "/content/drive/MyDrive/datasets/ventas.csv"

In [5]:
#Cargamos los datasets y la libreria pandas
import pandas as pd

df_marketing = pd.read_csv(path_marketing)
df_clientes = pd.read_csv(path_clientes)
df_ventas = pd.read_csv(path_ventas)

In [6]:
#Chequeamos usando head() para ver si se cargaron bien
df_marketing.head()

   id_campanha         producto  canal  costo fecha_inicio   fecha_fin
0           74  Adorno de pared     TV   4.81   20/03/2024  03/05/2024
1           12           Tablet   RRSS   3.40   26/03/2024  13/05/2024
2           32  Lámpara de mesa  Email   5.54   28/03/2024  20/04/2024
3           21       Smartphone   RRSS   6.37   29/03/2024  16/05/2024
4           58         Alfombra  Email   4.25   31/03/2024  05/05/2024

In [7]:
df_clientes.head()

   id_cliente               nombre  edad         ciudad  ingresos
0           1      Aloysia Screase    44  Mar del Plata  42294.68
1           2  Kristina Scaplehorn    25        Posadas  24735.04
2           3       Filip Castagne    50    Resistencia  35744.85
3           4          Liuka Luard    39   Bahía Blanca  27647.96
4           5        Dore Cockshtt    28        Rosario  28245.65

In [8]:
df_ventas.head()

,id_venta,producto,precio,cantidad,fecha_venta,categoria
0,792,Cuadro decorativo,$69.94,5.0,02/01/2024,Decoración
1,811,Lámpara de mesa,$105.10,5.0,02/01/2024,Decoración
2,1156,Secadora,$97.96,3.0,02/01/2024,Electrodomésticos
3,1372,Heladera,$114.35,8.0,02/01/2024,Electrodomésticos
4,1546,Secadora,$106.21,4.0,02/01/2024,Electrodomésticos

## 2) Realizar un script básico que calcule las ventas mensuales utilizando variables y operadores.

In [9]:
# No resuelto

##3) Estructuras de Datos: Desarrollar un programa que almacene los datos de ventas (producto, precio, cantidad). Decidir si conviene utilizar diccionarios o listas.

In [10]:
#No resuelto

##4) Introducción a Pandas: realizar un análisis exploratorio inicial de los DataFrames.

In [11]:
#analizamos marketing
print(df_marketing.shape)
print(df_marketing.columns)
print(df_marketing.dtypes)
print(df_marketing.isna().sum())
print(df_marketing.describe(include='number'))

(90, 6)
Index(['id_campanha', 'producto', 'canal', 'costo', 'fecha_inicio',
       'fecha_fin'],
      dtype='object')
id_campanha       int64
producto         object
canal            object
costo           float64
fecha_inicio     object
fecha_fin        object
dtype: object
id_campanha     0
producto        0
canal           0
costo           0
fecha_inicio    0
fecha_fin       0
dtype: int64
       id_campanha      costo
count    90.000000  90.000000
mean     45.500000   4.928667
std      26.124701   0.947750
min       1.000000   2.950000
25%      23.250000   4.372500
50%      45.500000   4.900000
75%      67.750000   5.562500
max      90.000000   7.390000

In [12]:
#analizamos clientes
print(df_clientes.shape)
print(df_clientes.columns)
print(df_clientes.dtypes)
print(df_clientes.isna().sum())
print(df_clientes.describe(include='number'))

(567, 5)
Index(['id_cliente', 'nombre', 'edad', 'ciudad', 'ingresos'], dtype='object')
id_cliente      int64
nombre         object
edad            int64
ciudad         object
ingresos      float64
dtype: object
id_cliente    0
nombre        0
edad          0
ciudad        0
ingresos      0
dtype: int64
       id_cliente        edad      ingresos
count  567.000000  567.000000    567.000000
mean   284.000000   37.940035  34668.739012
std    163.823075   10.202885  12974.531446
min      1.000000   20.000000    170.290000
25%    142.500000   30.000000  26015.240000
50%    284.000000   37.000000  35066.830000
75%    425.500000   43.000000  42457.100000
max    567.000000   81.000000  88053.010000

In [13]:
#analizamos ventas
print(df_ventas.shape)
print(df_ventas.columns)
print(df_ventas.dtypes)
print(df_ventas.isna().sum())
print(df_ventas.describe(include='number'))

(3035, 6)
Index(['id_venta', 'producto', 'precio', 'cantidad', 'fecha_venta',
       'categoria'],
      dtype='object')
id_venta         int64
producto        object
precio          object
cantidad       float64
fecha_venta     object
categoria       object
dtype: object
id_venta       0
producto       0
precio         2
cantidad       2
fecha_venta    0
categoria      0
dtype: int64
          id_venta     cantidad
count  3035.000000  3033.000000
mean   1499.851400     6.496538
std     866.465379     3.457250
min       1.000000     1.000000
25%     748.500000     3.000000
50%    1502.000000     7.000000
75%    2249.500000     9.000000
max    3000.000000    12.000000

También podemos hacerlo definiendo una función como vimos en clase. Recurri a la ayuda de pre entrega para hacerla. :

In [14]:
def exploracion(df, nombre):
    print(f"=== {nombre} ===")
    print("shape:", df.shape)
    print("columnas:", list(df.columns))
    print("dtypes:")
    print(df.dtypes)
    print("\nNulos por columna:")
    print(df.isna().sum())
    print("\nPrimeras filas:")
    print(df.head(5))
    print("\nDescribe (numérico):")
    print(df.describe(include='number'))

In [15]:
exploracion(df_marketing, "marketing")

=== marketing ===
shape: (90, 6)
columnas: ['id_campanha', 'producto', 'canal', 'costo', 'fecha_inicio', 'fecha_fin']
dtypes:
id_campanha       int64
producto         object
canal            object
costo           float64
fecha_inicio     object
fecha_fin        object
dtype: object

Nulos por columna:
id_campanha     0
producto        0
canal           0
costo           0
fecha_inicio    0
fecha_fin       0
dtype: int64

Primeras filas:
   id_campanha         producto  canal  costo fecha_inicio   fecha_fin
0           74  Adorno de pared     TV   4.81   20/03/2024  03/05/2024
1           12           Tablet   RRSS   3.40   26/03/2024  13/05/2024
2           32  Lámpara de mesa  Email   5.54   28/03/2024  20/04/2024
3           21       Smartphone   RRSS   6.37   29/03/2024  16/05/2024
4           58         Alfombra  Email   4.25   31/03/2024  05/05/2024

Describe (numérico):
       id_campanha      costo
count    90.000000  90.000000
mean     45.500000   4.928667
std      26.124701   0.947750
min       1.000000   2.950000
25%      23.250000   4.372500
50%      45.500000   4.900000
75%      67.750000   5.562500
max      90.000000   7.390000

In [16]:
exploracion(df_clientes, "clientes")

=== clientes ===
shape: (567, 5)
columnas: ['id_cliente', 'nombre', 'edad', 'ciudad', 'ingresos']
dtypes:
id_cliente      int64
nombre         object
edad            int64
ciudad         object
ingresos      float64
dtype: object

Nulos por columna:
id_cliente    0
nombre        0
edad          0
ciudad        0
ingresos      0
dtype: int64

Primeras filas:
   id_cliente               nombre  edad         ciudad  ingresos
0           1      Aloysia Screase    44  Mar del Plata  42294.68
1           2  Kristina Scaplehorn    25        Posadas  24735.04
2           3       Filip Castagne    50    Resistencia  35744.85
3           4          Liuka Luard    39   Bahía Blanca  27647.96
4           5        Dore Cockshtt    28        Rosario  28245.65

Describe (numérico):
       id_cliente        edad      ingresos
count  567.000000  567.000000    567.000000
mean   284.000000   37.940035  34668.739012
std    163.823075   10.202885  12974.531446
min      1.000000   20.000000    170.290000
25%    142.500000   30.000000  26015.240000
50%    284.000000   37.000000  35066.830000
75%    425.500000   43.000000  42457.100000
max    567.000000   81.000000  88053.010000

In [17]:
exploracion(df_ventas, "ventas")

=== ventas ===
shape: (3035, 6)
columnas: ['id_venta', 'producto', 'precio', 'cantidad', 'fecha_venta', 'categoria']
dtypes:
id_venta         int64
producto        object
precio          object
cantidad       float64
fecha_venta     object
categoria       object
dtype: object

Nulos por columna:
id_venta       0
producto       0
precio         2
cantidad       2
fecha_venta    0
categoria      0
dtype: int64

Primeras filas:
   id_venta           producto   precio  cantidad fecha_venta  \
0       792  Cuadro decorativo   $69.94       5.0  02/01/2024
1       811    Lámpara de mesa  $105.10       5.0  02/01/2024
2      1156           Secadora   $97.96       3.0  02/01/2024
3      1372           Heladera  $114.35       8.0  02/01/2024
4      1546           Secadora  $106.21       4.0  02/01/2024

           categoria
0         Decoración
1         Decoración
2  Electrodomésticos
3  Electrodomésticos
4  Electrodomésticos

Describe (numérico):
          id_venta     cantidad
count  3035.000000  3033.000000
mean   1499.851400     6.496538
std     866.465379     3.457250
min       1.000000     1.000000
25%     748.500000     3.000000
50%    1502.000000     7.000000
75%    2249.500000     9.000000
max    3000.000000    12.000000

### 5) Calidad de Datos: Identificar valores nulos y duplicados en los conjuntos de datos. Documentar el estado inicial de los datos.

In [18]:
#Hacemos una función para evaluar valores nulos  duplicados

def nulos_y_duplicados(df, nombre, clave=None):
    """
    Analiza la calidad del DataFrame:
      - Muestra cantidad de nulos por columna.
      - Cuenta filas duplicadas completas.
      - Si se indica una clave, muestra los valores duplicados más frecuentes.
    Parámetros:
      df: DataFrame de pandas que se analizará.
      nombre: texto descriptivo del DataFrame (ejemplo: 'VENTAS').
      clave: (opcional) nombre de la columna para buscar duplicados específicos.
    """
    print(nombre)
    print(df.isna().sum().to_frame("nulos"))
    filas_duplicadas = df.duplicated(keep=False).sum()
    print("\n Filas duplicadas (exactas):", filas_duplicadas)

    if clave and clave in df.columns:
        claves_duplicadas = df[clave].duplicated(keep=False).sum()
        print(f"\n Duplicados por clave '{clave}':", claves_duplicadas)

        if claves_duplicadas > 0:
            duplicados_ordenados = (
                df[df[clave].duplicated(keep=False)][clave]
                .value_counts()
                .sort_values(ascending=False)
            )

            print("\n Duplicados más frecuentes:")
            print(duplicados_ordenados.head(10))
        else:
            print(f"\n No se encontraron duplicados en '{clave}'.")
    else:
        if clave:
            print(f"'{clave}' no existe en el DF.")
        else:
            print("No se indicó una clave para analizar duplicados por columna.")

In [19]:
nulos_y_duplicados(df_ventas, "Ventas", clave="id_venta")

Ventas
             nulos
id_venta         0
producto         0
precio           2
cantidad         2
fecha_venta      0
categoria        0

 Filas duplicadas (exactas): 70

 Duplicados por clave 'id_venta': 70

 Duplicados más frecuentes:
id_venta
56      2
421     2
424     2
1868    2
2545    2
2778    2
145     2
300     2
439     2
906     2
Name: count, dtype: int64

In [20]:
nulos_y_duplicados(df_marketing, "marketing", clave="id_campanha")

marketing
              nulos
id_campanha       0
producto          0
canal             0
costo             0
fecha_inicio      0
fecha_fin         0

 Filas duplicadas (exactas): 0

 Duplicados por clave 'id_campanha': 0

 No se encontraron duplicados en 'id_campanha'.

In [21]:
nulos_y_duplicados(df_clientes, "Cliente", clave="id_cliente")

Cliente
            nulos
id_cliente      0
nombre          0
edad            0
ciudad          0
ingresos        0

 Filas duplicadas (exactas): 0

 Duplicados por clave 'id_cliente': 0

 No se encontraron duplicados en 'id_cliente'.

## Etapa 2: Preprocesamiento y Limpieza de Datos (Clases 5 a 8)
Objetivo: Demostrar conocimiento de las técnicas de limpieza y transformación de
datos.
Actividades:
1. Limpieza de Datos: Limpiar el conjunto de datos eliminando duplicados y
caracteres no deseados. Documentar el proceso y los resultados.
2. Transformación de Datos: Aplicar filtros y transformaciones para crear una
tabla de ventas que muestre solo los productos con alto rendimiento.
3. Agregación: Resumir las ventas por categoría de producto y analizar los
ingresos generados.
4. Integración de Datos: Combinar los sets de datos de ventas y marketing
para obtener una visión más amplia de las tendencias.

### 1) Limpieza de Datos: Limpiar el conjunto de datos eliminando duplicados y caracteres no deseados. Documentar el proceso y los resultados.

Del análisis obtuvimos que el df de ventas tiene nulos y duplicados. Vamos a trabajar sobbre el mismo, primero creando una copia para no perder el df original

In [22]:
ventas_limpio = df_ventas.copy()

Ahora si, eliminamos duplciados

In [23]:
ventas_limpio = df_ventas.drop_duplicates()

In [24]:
nulos_y_duplicados(ventas_limpio, "Ventas", clave="id_venta")

Ventas
             nulos
id_venta         0
producto         0
precio           2
cantidad         2
fecha_venta      0
categoria        0

 Filas duplicadas (exactas): 0

 Duplicados por clave 'id_venta': 0

 No se encontraron duplicados en 'id_venta'.

Vemos que ya no tiene duplicados

In [25]:
nulos_y_duplicados(ventas_limpio, "Ventas", clave="id_venta")

Ventas
             nulos
id_venta         0
producto         0
precio           2
cantidad         2
fecha_venta      0
categoria        0

 Filas duplicadas (exactas): 0

 Duplicados por clave 'id_venta': 0

 No se encontraron duplicados en 'id_venta'.

Teniendo en cuenta que las 2 ventas convalores nulos no nos sirven ya que no tenemos precio ni cantidad, las eliminamos.

In [26]:
ventas_limpio = ventas_limpio.dropna()

In [27]:
nulos_y_duplicados(ventas_limpio, "Ventas", clave="id_venta")

Ventas
             nulos
id_venta         0
producto         0
precio           0
cantidad         0
fecha_venta      0
categoria        0

 Filas duplicadas (exactas): 0

 Duplicados por clave 'id_venta': 0

 No se encontraron duplicados en 'id_venta'.

Ahora si, el df esta sin nulos ni duplicados

###2) Transformación de Datos: Aplicar filtros y transformaciones para crear una tabla de ventas que muestre solo los productos con alto rendimiento.

C
reamos también copia de markeing y de clientes para no perder el df original

In [28]:
marketing_limpio = df_marketing.copy()
clientes_limpio= df_clientes.copy()

convertimos texto en str

In [29]:
def normalizar_texto(df):
    for col in df.select_dtypes(include="object").columns:
        df[col] = (
            df[col]
            .astype(str)
            .str.strip()
            .str.replace(r"[\u200b\t\r\n]", "", regex=True)
            .str.replace(" +", " ", regex=True)
            .str.title()
        )
    return df

Normalizamos texto en los DF

In [30]:
marketing_limpio = normalizar_texto(marketing_limpio)
clientes_limpio = normalizar_texto(clientes_limpio)
ventas_limpio = normalizar_texto(ventas_limpio)

Chequeamos que queden bien

In [31]:
print(ventas_limpio.head())
print(clientes_limpio.head())
print(marketing_limpio.head())

   id_venta           producto   precio  cantidad fecha_venta  \
0       792  Cuadro Decorativo   $69.94       5.0  02/01/2024
1       811    Lámpara De Mesa  $105.10       5.0  02/01/2024
2      1156           Secadora   $97.96       3.0  02/01/2024
3      1372           Heladera  $114.35       8.0  02/01/2024
4      1546           Secadora  $106.21       4.0  02/01/2024

           categoria
0         Decoración
1         Decoración
2  Electrodomésticos
3  Electrodomésticos
4  Electrodomésticos
   id_cliente               nombre  edad         ciudad  ingresos
0           1      Aloysia Screase    44  Mar Del Plata  42294.68
1           2  Kristina Scaplehorn    25        Posadas  24735.04
2           3       Filip Castagne    50    Resistencia  35744.85
3           4          Liuka Luard    39   Bahía Blanca  27647.96
4           5        Dore Cockshtt    28        Rosario  28245.65
   id_campanha         producto  canal  costo fecha_inicio   fecha_fin
0           74  Adorno De Pared     Tv   4.81   20/03/2024  03/05/2024
1           12           Tablet   Rrss   3.40   26/03/2024  13/05/2024
2           32  Lámpara De Mesa  Email   5.54   28/03/2024  20/04/2024
3           21       Smartphone   Rrss   6.37   29/03/2024  16/05/2024
4           58         Alfombra  Email   4.25   31/03/2024  05/05/2024

Normalizamos fechas para los  df q las tengan, este caso solo ventas y marketing contienee fechas

In [32]:
for df in [ventas_limpio, marketing_limpio]:
    for col in df.columns:
        if "fecha" in col.lower():
            df[col] = pd.to_datetime(df[col], errors="coerce", dayfirst=True)

Chequeamos que queden bien

In [33]:
print(marketing_limpio.dtypes)
print(ventas_limpio.dtypes)

id_campanha              int64
producto                object
canal                   object
costo                  float64
fecha_inicio    datetime64[ns]
fecha_fin       datetime64[ns]
dtype: object
id_venta                int64
producto               object
precio                 object
cantidad              float64
fecha_venta    datetime64[ns]
categoria              object
dtype: object

vemos como las fechas cambiaron de  object a datetime64[ns]

Ahora normalizamos los números, en este caso vemos que precio esta considerado object cuando deberia ser float

In [34]:
if "precio" in ventas_limpio.columns:
    ventas_limpio["precio"] = (
        ventas_limpio["precio"]
        .astype(str)
        .str.replace("$", "", regex=False)
        .str.replace(",", "", regex=False)
        .str.strip()
    )
    ventas_limpio["precio"] = pd.to_numeric(ventas_limpio["precio"], errors="coerce")

Chequeamos que  precio sea float

In [35]:
print(ventas_limpio.dtypes)

id_venta                int64
producto               object
precio                float64
cantidad              float64
fecha_venta    datetime64[ns]
categoria              object
dtype: object

Ahora tenemos Cantidad, que esta como float cuando deberia ser un entero. Normalizamos

In [36]:
if "cantidad" in ventas_limpio.columns:
    ventas_limpio["cantidad"] = pd.to_numeric(
        ventas_limpio["cantidad"], errors="coerce"
    ).astype("Int64")

In [37]:
print(ventas_limpio.dtypes)

id_venta                int64
producto               object
precio                float64
cantidad                Int64
fecha_venta    datetime64[ns]
categoria              object
dtype: object

Guardamos los archivos limpios

In [38]:
ventas_limpio.to_csv("/content/drive/MyDrive/datasets/ventas_limpio.csv", index=False)
clientes_limpio.to_csv("/content/drive/MyDrive/datasets/clientes_limpio.csv", index=False)
marketing_limpio.to_csv("/content/drive/MyDrive/datasets/marketing_limpio.csv", index=False)

print("Archivos guardados")

Archivos guardados

Ahora vamos a filtrar los datos para agregar por producto calcular los ingresos y detectar los de mejor desempeño (top 20% por ingreso total)

In [39]:
def buscar_col(df, candidatos):
    for c in df.columns:
        nombre = c.lower()
        if any(p in nombre for p in candidatos):
            return c
    return None

Lista para chequear producto:

In [40]:
producto_col = buscar_col(ventas_limpio, ["producto", "id_producto", "sku", "codigo", "articulo", "item", "referencia", "descripcion"])
print(producto_col)

producto

Ahora calculamos el ingreso total por registro ( P x Q )

In [60]:
ventas_reg = (
    ventas_limpio
    .assign(
        ingreso = ventas_limpio["precio"] * ventas_limpio["cantidad"]
    )
)

In [43]:
print(ventas_reg.head())

   id_venta           producto  precio  cantidad fecha_venta  \
0       792  Cuadro Decorativo   69.94         5  2024-01-02
1       811    Lámpara De Mesa  105.10         5  2024-01-02
2      1156           Secadora   97.96         3  2024-01-02
3      1372           Heladera  114.35         8  2024-01-02
4      1546           Secadora  106.21         4  2024-01-02

           categoria  ingreso
0         Decoración    349.7
1         Decoración    525.5
2  Electrodomésticos   293.88
3  Electrodomésticos    914.8
4  Electrodomésticos   424.84

Agregamos por producto

In [61]:
resumen_producto = (
    ventas_reg
    .groupby(
        by=producto_col,
        as_index=False,
    )
    .agg(
        ingreso_total=('ingreso', 'sum'),
        unidades=('cantidad', 'sum'),
        precio_promedio=('precio', 'mean'),
        registros=('ingreso', 'size')
    )
)

In [64]:
print(resumen_producto.head())

          producto  ingreso_total  unidades  precio_promedio  registros
0  Adorno De Pared       48093.49       633        76.097800        100
1         Alfombra       44773.06       615        74.098300        100
2       Aspiradora       50085.86       651        77.447400        100
3      Auriculares       74175.58       958        76.302727        143
4         Batidora        50979.2       672        77.537200        100

Para calcular el top 20% de ingresos por producto calculamos el percentil 80

In [68]:
percentil80_ingreso = resumen_prod["ingreso_total"].quantile(
    q=0.80,
    interpolation="nearest"
)

In [69]:
print(percentil80_ingreso)

52115.45

Ahora para filtrar el top 20 la idae es quedarnos con los productos cuyos ingresos por ventas estanen el 20% mas alto

In [82]:
ventas_top20 = (
    resumen_producto
    .query(
        "ingreso_total >= @p80_ingreso",
        engine="python"
    )
    .sort_values(
        by=["ingreso_total", "unidades"],
        ascending=[False, False],
        na_position="last",
        ignore_index=True
    )
)

In [83]:
print(f"Ingreso total del percentil 80: {float(p80_ingreso):,.2f}")
print("Productos 20% TOP por ingreso):")
print(ventas_top20.head(10))

Ingreso total del percentil 80: 52,115.45
Productos 20% TOP por ingreso):
            producto  ingreso_total  unidades  precio_promedio  registros
0    Lámpara De Mesa       82276.38      1112        72.720625        176
1        Auriculares       74175.58       958        76.302727        143
2         Microondas       72562.89       912        79.176000        135
3           Cafetera       59607.31       765        79.046581        117
4  Cuadro Decorativo        54297.6       726        74.578000        100
5         Smartphone       54132.44       665        81.398416        101
6           Secadora       52115.45       696        73.338900        100

###3) Agregación: Resumir las ventas por categoría de producto y analizar los ingresos generados.

Vamos a buscar columna por categoria, usamos la fundion que ya teníamos

In [112]:
categoria_col = buscar_col(ventas_limpio, ["categoria", "categoría", "categoria_producto", "rubro"])
print(catgoria_col)

categoria

Agrupamos por categoria

In [113]:
resumen_cat = (
    ventas_categoria
    .groupby(
        by=categoria_col,
        as_index=False
    )
    .agg(
        ingreso_total=('ingreso', 'sum'),
        unidades=('cantidad', 'sum'),
        ventas=('ingreso', 'size'),
        precio_promedio=('precio', 'mean')
    )
    .sort_values(
        by='ingreso_total',
        ascending=False,
        na_position='last',
        ignore_index=True
    )
)

Ticket promedio por venta = ingreso_total / ventas

In [114]:
resumen_cat = resumen_cat.assign(
    ticket_promedio_por_venta = resumen_cat['ingreso_total'] / resumen_cat['ventas']
)

print("Categoría detectada:", categoria_col)

display(resumen_cat.head())

Categoría detectada: categoria

,categoria,ingreso_total,unidades,ventas,precio_promedio,ticket_promedio_por_venta
0,Electrodomésticos,505299.63,6592,1000,76.52096,505.29963
1,Electrónica,482577.8,6413,998,75.25492,483.54489
2,Decoración,479216.09,6490,1000,74.09800,479.21609

###4) Integración de Datos: Combinar los sets de datos de ventas y marketing para obtener una visión más amplia de las tendencias.

In [ ]:
# TODO: Combinar los sets de datos de ventas y marketing para obtener una visión más amplia de las tendencias.
# Sugerencia: usar pd.merge() especificando la clave común entre ambos DataFrames.
# Documentar cualquier observación relevante sobre la combinación de datos.